%section#login_bg
  .container
    .row
      .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
        #login
          %p.text-center
            %img{alt: "", src: asset_path("login_logo.png")}
          %hr/
          %h4.text-center Welcome to Learning portal
          %hr/
          - if flash.any?
            = render 'layouts/common/flash_message'
            %hr/
          = simple_form_for :user, html: {class: 'form-horizontal'}, url: '/sessions/create' do |f|
            .input-group
              %span.input-group-addon.glyphicon.glyphicon-user
              = f.input_field :username, required: false, placeholder: 'LDAP Username', label: false
            .input-group
              %span.input-group-addon.glyphicon.glyphicon-lock
              = f.input_field :password, required: false, placeholder: 'LDAP Password', label: false
            .form-actions
              = f.button :submit, 'LOG IN', :class => 'button_fullwidth'
