.search_box.animate
  .container
    .row
      %h1.text-center.title= @course.name
    .row
      .col-md-4.col-md-offset-2
        - if @course.tags.count > 0
          %p.btn.btn-primary.tag All
        - @course.tags.select(:name).distinct.each do |tag|
          %p.btn.btn-primary.tag= tag.name
      .col-md-3.col-md-offset-1.description
        = @course.description
      .col-md-2

.container
  .row
  - @course.tutorials.each do |tutorial|
    .col-md-6.bottom-space.tag-item{"data-tag" => tutorial.tags.pluck(:name).join(",")}
      .row
        .col-md-10.video
          = link_to(home_tutorial_url(tutorial.id)) do
            %img.position-image.course-image{src: tutorial.image_url}
          = link_to(home_tutorial_url(tutorial.id), class: 'a-title') do
            %h3.place.a-title= tutorial.title
          %p.place.text-info.text-description= tutorial.description
        .col-md-2
