= simple_form_for [@course, @tutorial], :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :tags, input_html: { class: 'selectpicker', name: 'tutorial[tag_ids]', value:'', data: @tags.to_json}
  = f.input :image_url
  = f.input :description, input_html: { class: 'admin-description' }
  .form-actions
    = f.button :submit, :class => 'btn-primary col-md-offset-2'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), course_tutorials_path, :class => 'btn'
