- content_for('sub-header') do
  %section#sub-header.pattern_2
    .container
      .row
        .col-md-12.text-center.animate
          %h1.title-3d= @tutorial.title
          %p.lead= @tutorial.description
    .divider_top

- content_for('breadcrumbs') do
  .container{style: 'text-align: center;'}
    %ol.breadcrumb
      %li
        = link_to root_url do
          %i.glyphicon.glyphicon-home
          Home
      %li
        = link_to course_path(@tutorial.course.id) do
          %i.glyphicon.glyphicon-folder-open
          = @tutorial.course.name
      %li.active
        %i.glyphicon.glyphicon-pushpin
        = @tutorial.title

%section#strips-course.style_2
  .container
    - @tutorial.videos.each do |video|
      %article.row
        .col-md-3.col-sm-3.hidden-xs.text-center
          %img{alt: "", src: video.image_url, class: 'image-design'}
        .col-md-9.col-sm-9
          %h3= video.title
          %p= video.description

          %ul.data-lessons
            %li.po-markup
              %a.po-link
                %i.glyphicon.glyphicon-time
                Created #{video.created_at.strftime('%d-%b-%Y')}

          %a.button_medium.watch-now{"href" => "",
            "data-toggle" => "modal", "data-target" => ".popup-video",
            "data-url" => video.file, "data-header" => video.title} Play Video
          %a.button_medium.watch-now{href: video.file, target: "_blank",
            download: ''} Download Video


.modal.fade.popup-video{tabindex: -1, role: "dialog", :"aria-hidden" => "true"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"} ×
        %h4.modal-title.video-title
      .modal-body
        %video{:width => 700, :height => 400, :class => "sublime", :id => "video-player"}
          %source{:src => '', class: 'video-source'}
