- content_for('title') do
  - @course.name if @course

- content_for('sub-header') do
  %section#sub-header.pattern_2
    .container
      .row
        .col-md-12.text-center.animate
          - if @course
            %h1.title-3d= @course.name
            %p.lead= @course.description
          - else
            %h1.title-3d LEARNING PORTAL
    .divider_top

- content_for('breadcrumbs') do
  .container
    %ol.breadcrumb
      - if @course
        %li
          = link_to root_url do
            %i.glyphicon.glyphicon-home
            Home
        %li.active
          %i.glyphicon.glyphicon-folder-open.margin-space
          = @course.name
      - else
        %li.active
          %i.glyphicon.glyphicon-home
          Home

%section#main_content
  .container
    .row
      %aside.col-lg-3.col-md-4.col-sm-4
        .box_style_1
          %h4 Courses
          %ul.submenu-col
            %li
              = link_to 'All Courses',
                root_url,
                id: @course.present? ? '' : 'active'
            - @courses.each do |course|
              %li
                = link_to "#{course.name} (#{course.tutorials_count || 0})",
                  course_path(course),
                  id: (@course.present? && @course == course) ? 'active' : ''

      .col-lg-9.col-md-8.col-sm-8
        .row
          - if @tag.nil? && @tutorials.nil?
            .row.text-center
              %i.glyphicon.glyphicon-search.no_search
            .row.text-center.no_search_text
              %p No Results Found

          - if @tutorials
            - @tutorials.each do |tutorial|
              .col-lg-4.col-md-6
                .col-item
                  %span
                  .photo{style: "text-align: center;"}
                    - if tutorial.videos_count && tutorial.videos_count > 0
                      = link_to tutorial_path(tutorial) do
                        %img{alt: "", src: set_image(tutorial.image_url), class: 'image-design'}
                    - else
                      %img{alt: "", src: set_image(tutorial.image_url), class: 'image-design'}
                    .cat_row
                      = link_to tutorial.course.name, course_path(tutorial.course)
                      %span.pull-right
                        %i.glyphicon.glyphicon-time
                        - if tutorial.videos.present?
                          = time_ago_in_words(tutorial.videos.last.created_at)
                        - else
                          = time_ago_in_words(tutorial.created_at)

                  .info
                    .row
                      .course_info.col-md-12.col-sm-12
                        - if tutorial.videos_count && tutorial.videos_count > 0
                          %h4.tutorial-title
                            = link_to tutorial.title, tutorial_path(tutorial)
                        - else
                          %h4= tutorial.title

                        - if tutorial.description.present?
                          %p.p_description= tutorial.description
                        - else
                          %p.p_description No description available
                    .separator.clearfix
                      -if tutorial.videos_count && tutorial.videos_count > 0
                        %p.btn-add
                          = link_to tutorial_path(tutorial) do
                            %i.glyphicon.glyphicon-list
                            List Videos
                        %p.btn-details
                          = link_to tutorial_path(tutorial) do
                            %i.glyphicon.glyphicon-facetime-video
                            #{tutorial.videos_count} Videos
                      -else
                        %p.btn-add
                          %i.glyphicon.glyphicon-list
                          List Videos
                        %p.btn-details
                          %i.glyphicon.glyphicon-facetime-video
                          #{tutorial.videos_count} Videos
    %hr/
