= simple_form_for [:admin, @tutorial, @video], :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :description
  = f.input :video_url
  = f.input :image_url
  = f.button :submit, :class => 'btn-primary col-md-offset-2'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_tutorial_videos_path, :class => 'btn btn-default'
