- model_class = Video
.page-header
  %h1.text-center
    %span.admin-header
      = link_to admin_course_tutorials_path(@tutorial.course) do
        #{@tutorial.course.name} ->
      %span Videos (#{@tutorial.title})
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:image_url)
      %th= model_class.human_attribute_name(:description)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @videos.each do |video|
      %tr
        %td= video.title
        %td= image_tag video.image_url, class: 'course-image'
        %td.full-description= video.description
        %td
          = link_to 'Show', admin_tutorial_video_path(@tutorial, video)
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_tutorial_video_path(@tutorial, video), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_tutorial_video_path(@tutorial, video), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_admin_tutorial_video_path, :class => 'btn btn-primary'
