!!!
%html{lang: 'en'}

  %head
    %title Video Portal
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true, media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags


  %body
    %header
      = render 'layouts/common/header'

    %nav
      = render 'layouts/common/nav'

    - if content_for? 'sub-header'
      = yield 'sub-header'

    - if content_for? 'breadcrumbs'
      = yield 'breadcrumbs'

    = yield

    %footer
      = render 'layouts/common/footer'
