!!!
%html{lang: 'en'}
  %head
    %title Video Portal
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true, media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/common/header'
    %nav#navigation-main
      = render 'layouts/common/flash_message'
    = yield
